@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700;900");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/cards.css");

body {
  background: #c5dedd;
  color: #00406c;
  font-family: 'Montserrat', serif;
  font-size: 18px;
  font-weight: lighter;
  background-image: url("images/Background.jpg");
  background-size: cover;
}

div {
  display: block;
}

h1 {
  color: #00406c;
  font-size: 28px;
  font-weight: 900;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #ffd60a;
  font-size: 20px;
  font-weight: 600;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #00406c;
  font-weight: 600;
  font-size: 20px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
#introduction p {
  margin-top: 40px;
  margin-bottom: 40px;
}

#connect p {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
